
lesson1/build-z1-Desktop_Qt_5_12_3_clang_64bit-Debug/.qmake.stash
lesson1/.DS_Store
lesson1/build-z1-Desktop_Qt_5_12_3_clang_64bit-Debug/.DS_Store
lesson1/build-z1-Desktop_Qt_5_12_3_clang_64bit-Debug/main.o
lesson1/build-z1-Desktop_Qt_5_12_3_clang_64bit-Debug/mainwindow.o
.DS_Store
lesson1/build-z1-Desktop_Qt_5_12_3_clang_64bit-Debug/Makefile
lesson1/build-z1-Desktop_Qt_5_12_3_clang_64bit-Debug/moc_mainwindow.o
lesson1/build-z1-Desktop_Qt_5_12_3_clang_64bit-Debug/moc_predefs.h
lesson1/build-z1-Desktop_Qt_5_12_3_clang_64bit-Debug/ui_mainwindow.h
lesson1/build-z1-Desktop_Qt_5_12_3_clang_64bit-Debug/z1.app/Contents/Info.plist
lesson1/build-z1-Desktop_Qt_5_12_3_clang_64bit-Debug/z1.app/Contents/MacOS/z1
lesson1/build-z1-Desktop_Qt_5_12_3_clang_64bit-Debug/z1.app/Contents/PkgInfo
lesson1/build-z1-Desktop_Qt_5_12_3_clang_64bit-Debug/z1.app/Contents/Resources/empty.lproj
lesson1/build-z2-Desktop_Qt_5_12_3_clang_64bit-Debug/.qmake.stash
lesson1/build-z2-Desktop_Qt_5_12_3_clang_64bit-Debug/main.o
lesson1/build-z2-Desktop_Qt_5_12_3_clang_64bit-Debug/mainwindow.o
lesson1/build-z2-Desktop_Qt_5_12_3_clang_64bit-Debug/Makefile
lesson1/build-z2-Desktop_Qt_5_12_3_clang_64bit-Debug/moc_mainwindow.cpp
lesson1/build-z2-Desktop_Qt_5_12_3_clang_64bit-Debug/moc_mainwindow.o
lesson1/build-z2-Desktop_Qt_5_12_3_clang_64bit-Debug/moc_predefs.h
lesson1/build-z2-Desktop_Qt_5_12_3_clang_64bit-Debug/ui_mainwindow.h
lesson1/build-z2-Desktop_Qt_5_12_3_clang_64bit-Debug/z2.app/Contents/Info.plist
lesson1/build-z2-Desktop_Qt_5_12_3_clang_64bit-Debug/z2.app/Contents/MacOS/z2
lesson1/build-z2-Desktop_Qt_5_12_3_clang_64bit-Debug/z2.app/Contents/PkgInfo
lesson1/build-z2-Desktop_Qt_5_12_3_clang_64bit-Debug/z2.app/Contents/Resources/empty.lproj
lesson2/build-z1-Desktop_Qt_5_12_3_clang_64bit-Debug/.qmake.stash
lesson2/build-z1-Desktop_Qt_5_12_3_clang_64bit-Debug/main.o
lesson2/build-z1-Desktop_Qt_5_12_3_clang_64bit-Debug/mainwindow.o
lesson2/build-z1-Desktop_Qt_5_12_3_clang_64bit-Debug/Makefile
lesson2/build-z1-Desktop_Qt_5_12_3_clang_64bit-Debug/moc_mainwindow.cpp
lesson2/build-z1-Desktop_Qt_5_12_3_clang_64bit-Debug/moc_mainwindow.o
lesson2/build-z1-Desktop_Qt_5_12_3_clang_64bit-Debug/moc_predefs.h
lesson2/build-z1-Desktop_Qt_5_12_3_clang_64bit-Debug/ui_mainwindow.h
lesson2/build-z1-Desktop_Qt_5_12_3_clang_64bit-Debug/z1.app/Contents/Info.plist
lesson2/build-z1-Desktop_Qt_5_12_3_clang_64bit-Debug/z1.app/Contents/MacOS/z1
lesson2/build-z1-Desktop_Qt_5_12_3_clang_64bit-Debug/z1.app/Contents/PkgInfo
lesson2/build-z1-Desktop_Qt_5_12_3_clang_64bit-Debug/z1.app/Contents/Resources/empty.lproj
lesson2/build-z1-Desktop_Qt_5_12_3_clang_64bit-Debug/.qmake.stash
lesson2/build-z1-Desktop_Qt_5_12_3_clang_64bit-Debug/main.o
lesson2/build-z1-Desktop_Qt_5_12_3_clang_64bit-Debug/mainwindow.o
lesson2/build-z1-Desktop_Qt_5_12_3_clang_64bit-Debug/Makefile
lesson2/build-z1-Desktop_Qt_5_12_3_clang_64bit-Debug/moc_mainwindow.cpp
lesson2/build-z1-Desktop_Qt_5_12_3_clang_64bit-Debug/moc_mainwindow.o
lesson2/build-z1-Desktop_Qt_5_12_3_clang_64bit-Debug/moc_predefs.h
lesson2/build-z1-Desktop_Qt_5_12_3_clang_64bit-Debug/ui_mainwindow.h
lesson2/build-z1-Desktop_Qt_5_12_3_clang_64bit-Debug/z1.app/Contents/Info.plist
lesson2/build-z1-Desktop_Qt_5_12_3_clang_64bit-Debug/z1.app/Contents/MacOS/z1
lesson2/build-z1-Desktop_Qt_5_12_3_clang_64bit-Debug/z1.app/Contents/PkgInfo
lesson2/build-z1-Desktop_Qt_5_12_3_clang_64bit-Debug/z1.app/Contents/Resources/empty.lproj
lesson2/build-z1-Desktop_Qt_5_12_3_clang_64bit-Debug/.qmake.stash
lesson2/build-z1-Desktop_Qt_5_12_3_clang_64bit-Debug/main.o
lesson2/build-z1-Desktop_Qt_5_12_3_clang_64bit-Debug/mainwindow.o
lesson2/build-z1-Desktop_Qt_5_12_3_clang_64bit-Debug/Makefile
lesson2/build-z1-Desktop_Qt_5_12_3_clang_64bit-Debug/moc_mainwindow.cpp
lesson2/build-z1-Desktop_Qt_5_12_3_clang_64bit-Debug/moc_mainwindow.o
lesson2/build-z1-Desktop_Qt_5_12_3_clang_64bit-Debug/moc_predefs.h
lesson2/build-z1-Desktop_Qt_5_12_3_clang_64bit-Debug/ui_mainwindow.h
lesson2/build-z1-Desktop_Qt_5_12_3_clang_64bit-Debug/z1.app/Contents/Info.plist
lesson2/build-z1-Desktop_Qt_5_12_3_clang_64bit-Debug/z1.app/Contents/MacOS/z1
lesson2/build-z1-Desktop_Qt_5_12_3_clang_64bit-Debug/z1.app/Contents/PkgInfo
lesson2/build-z1-Desktop_Qt_5_12_3_clang_64bit-Debug/z1.app/Contents/Resources/empty.lproj
lesson2/build-z1-Desktop_Qt_5_12_3_clang_64bit-Debug/z1.app/Contents/MacOS/z1
lesson2/build-z1-Desktop_Qt_5_12_3_clang_64bit-Debug/z1.app/Contents/MacOS/z1
lesson2/build-z1-Desktop_Qt_5_12_3_clang_64bit-Debug/z1.app/Contents/MacOS/z1
lesson2/build-z1-Desktop_Qt_5_12_3_clang_64bit-Debug/z1.app/Contents/MacOS/z1
